body,
html {
    margin: 0;
    padding: 0;
    background-color: rgb(205, 202, 247);
    background-size: 100%;
    line-height: 1.5;
    overflow: auto;
    scroll-behavior: smooth;
    font-family: 'Share Tech Mono', monospace;
}

body.night,
html.night {
    background-color: #131417;
    color: #afafbf;
    scroll-behavior: smooth;
}

header {
    height: max-content;
    width: 100%; 
    top: 0px;
    background-color: rgba(1, 2, 59, 0.712);
    display: block;
}

.nav-el{
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    margin: 0;

}
.nav-el li {
    padding: 5px;
    display: inline;
}

.nav-el li a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.switch-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 5px;
    right: 30px;
}

.switch-wrapper .moon,
.switch-wrapper .sun {
    width: 17px;
    height: 17px;
}

.switch-wrapper .sun {
    background: url(images/sun.png) no-repeat center;
    background-size: 100%;
}

.switch-wrapper .moon {
    background: url(images/moon.png) no-repeat center;
    background-size: 100%;
}

body.night .switch-wrapper .sun,
html.night .switch-wrapper .sun {
    background: url(images/white-sun.png) no-repeat center;
    background-size: 100%;
}

body.night .switch-wrapper .moon,
html.night .switch-wrapper .moon {
    background: url(images/white-moon.png) no-repeat center;
    background-size: 100%;
}


.switch-wrapper .toggle-wrapper {
    margin: 10px;
}

.switch-wrapper .toggle-wrapper #switch {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
}

.switch-wrapper .toggle-wrapper input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.switch-wrapper .toggle-wrapper label {
    cursor: pointer;
    text-indent: -9999px;
    width: 45px;
    height: 25px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

.switch-wrapper .toggle-wrapper label:after {
    content: '';
    position: absolute;
    left: 2px;
    top: 1px;
    width: 20px;
    height: 22px;
    background: #fff;
    border-radius: 40px;
    transition: 0.3s;
}

.switch-wrapper .toggle-wrapper input:checked+label {
    background: #30394d;
}

.switch-wrapper .toggle-wrapper input:checked+label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.switch-wrapper .toggle-wrapper label:active:after {
    width: 0px;
}

.intro {
    padding: 80px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: fit-content;
}

.intro_text {
    padding-top: 30px;
    padding-right: 10px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.intro_figure{
    width: 50%;
}

.intro_hello .wave-hand.animated {
    position: relative;
    animation: wave 2.0s linear;
}

.intro_hello .wave-hand {
    background-image: url(images/waving-hand.png);
    margin-left: 10px;
    cursor: pointer;
    position: relative;
}

.intro_hello .emoji {
    width: 40px;
    height: 40px;
}

.content{
    margin-top: 60px;
    font-size: 1.5rem;
}
 .container{
     margin-top: 30px;
} 

body .emoji,
html .emoji {
    display: inline-block;
    vertical-align: text-top;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.name{
    font-size: 2rem;
    padding-left: 10px;
}

.myname {
    text-transform: uppercase;
    color: #0055af;
    letter-spacing: 2.5px;
    text-decoration: none;
    display: inline-block;
    animation: .8s shake infinite alternate;
}

section {
    position: relative;
}

body section,
html section {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 100px 170px;
}

body .section_title,
html .section_title {
    font-size: 1.2rem;
    flex-shrink: 0;
    width: 200px;
    margin-right: 70px;
    color: #007bff;
    text-transform: uppercase;
    text-align: right;
    font-weight: bold;
    letter-spacing: 2px;
}

body .section_content,
html .section_content {
    font-weight: bolder;
    font-size: 1.1rem;
     width: 100%;
     max-width: 650px; 
}

body .section_content p,
html .section_content p {
    margin-top: 0;
    margin-bottom: 25px;
}

body .section_content .underline-link,
html .section_content .underline-link {
    position: relative;
    display: inline-block;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    display: inline-flex;
    flex-direction: column;
    color: #1D263B;
}

.card:not(:last-child) {
    margin: 0 auto 2em auto;
}

.card-preview-img {
    max-width: 100%;
    border-radius: 10px 10px 0 0;
    padding: 5px;
    background-color: white;
}

.card-info {
    padding: 25px;
    background-color: #FFFFFF;
    border-radius: 0 0 10px 10px;
}

.has-no-preview .card-info {
    border-radius: 10px;
}

.title-and-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.project-title {
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #1D263B;
}

.project-links {
    display: flex;
    flex-wrap: nowrap;
}

.project-links a i {
    padding: 5px;
}

.project-links a i {
    color: #F08CAE;
    font-size: 1.2em;
    transition: all 0.2s ease;
}

.project-links a i:hover {
    font-size: 1.25em;
    padding: 2px 5px;
    color: #7EB77F;
}

.project-links a:last-child {
    margin-left: 5px;
}

.project-skills {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #7EB77F;
}

.project-skills span {
    color: #0FA3B1;
    font-weight: 700;
    font-size: 0.9em;
    letter-spacing: 0.05em;
}

.project-skills span:not(:last-child) {
    margin-right: 10px;
}

.project-description {
    color: #1D263B;
}

@media only screen and (min-width: 768px) {
    .project-cards-container {
        column-count: 2;
        column-gap: 2em;
    }
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    /*10%{transform: rotate(90deg);}*/
    20% {
        transform: rotate(90deg);
    }

    /*30%{transform: rotate(90deg);}*/
    40% {
        transform: rotate(15deg);
    }

    /*50% {transform: rotate(90deg);}*/
    60% {
        transform: rotate(90deg);
    }

    /*70%{transform: rotate(90deg);}*/
    80% {
        transform: rotate(15deg);
    }

    /*90% {transform: rotate(90deg);}*/
    100% {
        transform: rotate(0deg);
    }
}

@-webkit-keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    /*10%{transform: rotate(90deg);}*/
    20% {
        transform: rotate(90deg);
    }

    /*30%{transform: rotate(90deg);}*/
    40% {
        transform: rotate(15deg);
    }

    /*50% {transform: rotate(90deg);}*/
    60% {
        transform: rotate(90deg);
    }

    /*70%{transform: rotate(90deg);}*/
    80% {
        transform: rotate(15deg);
    }

    /*90% {transform: rotate(90deg);}*/
    100% {
        transform: rotate(0deg);
    }
}

@keyframes shake {
    0% {
        transform: skewX(-15deg);
    }

    5% {
        transform: skewX(15deg);
    }

    10% {
        transform: skewX(-15deg);
    }

    15% {
        transform: skewX(15deg);
    }

    20% {
        transform: skewX(0deg);
    }

    100% {
        transform: skewX(0deg);
    }
}

@-webkit-keyframes shake {
    0% {
        transform: skewX(-15deg);
    }

    5% {
        transform: skewX(15deg);
    }

    10% {
        transform: skewX(-15deg);
    }

    15% {
        transform: skewX(15deg);
    }

    20% {
        transform: skewX(0deg);
    }

    100% {
        transform: skewX(0deg);
    }
}

@media screen and (max-width: 800px)
{
   .intro{
    display: flex;
    flex-direction: column;
   }

   .section_background{
    display: flex;
    flex-direction: column;
   }

   .section_skills{
    display: flex;
    flex-direction: column;
   }

   .section_content .skills{
    display: flex;
    flex-direction: column;
   }

   .content .container {
    padding: 0px 30px 0px 30px;
}
   
}
